html
  head
    title= title
    script(src='/scripts/script.js')
    link(rel='stylesheet' href='/styles/stylesheet.css')
  body
    h1 Status page for Hallouminet™!
    h2#halim= halim
    h2#wsb= wsb
