html
  head
    title= title
    script(src='/scripts/script.js')
    link(rel='stylesheet' href='/styles/stylesheet.css')
  body
    h1 Status page for Hallouminet™!
    if session.passport.user
      p #{session.passport.user.name}
      a#logout(href="/logout") Log out.
      h2#halim= halim
      h2#wsb= wsb
    else 
      div#login
        a(href="/google") Login with Google
