html
  head
    title= title
    link(rel='stylesheet' href='/styles/stylesheet.css')
  body
    if login
      script(src='/scripts/script.js')
      p#menu Status page for Hallouminet™!
      p You are logged in as #{session.passport.user.name}.
      a#logout(href="/logout") Log out.

      if halimAccess
        #halim.link= halim
      if wsbAccess
        #wsb.link= wsb
    else 
      div#login
        a(href="/google") Login with Google
        if session.failedLogin
          p#fail User is not authorized&#128545;.