h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
}
a:link, a:visited{
    color: black;
}

a {
    text-decoration: underline;
}

html {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
}
.link {
    font-size: 3em;
    margin-top: 0.2em;
}

h1 {
    text-align: center;
    font-size: 5em;
}

.lan {
    font-size: 3em;
}

#login {
    color: black;
    font-size: 5em;
    text-align: center;
}

p {
    font-size: 2em;
}

#logout {
    font-size: 2em;
}

#menu {
    text-align: center;
    font-size: 5em;
}

#fail {
    font-size: 0.5em;
    color:red
}